.Rproj.user
.Rhistory
.RData
.Ruserdata
^cran-comments\.md$
images
images/*
inst/extdata/BaboonLivingForMetrics.csv
inst/extdata/RhesusMasterForMetrics.csv
inst/extdata/Notes.txt
inst/extdata/PSCPO*.*
inst/extdata/notes.*
!inst/extdata/notes.Rmd
R/groupAssign.R
R/groupAddition.R
R/depricated_groupAssign.R
R/depricated_groupAddition.R
R/depricated_gene.drop.R
^vignettes/interactive_cache$
^vignettes/shiny_app_use_cache$
vignettes/tutorials/*
vignettes/*.tex
vignettes/*.html
vignettes/*.pdf
vignettes/*.R
vignettes/\.DS\_Store$
inst/extdata/meeting_notes.html
inst/extdata/meeting_notes.tex
inst/extdata/meeting_notes.pdf
inst/extdata/simulatedKValues.pdf
docs
